div {
  position: relative; }

.clear {
  background: transparent !important;
  border: 0 !important;
  display: block !important;
  float: both !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  color: #585858;
  background: transparent url(images/bg/body.png) left top repeat;
  line-height: 1.8; }
  body div#body-wrap {
    width: 940px;
    margin: 0 auto; }
  body a {
    color: #fe9387;
    text-decoration: none; }
    body a:hover {
      color: #de6b5e; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: normal;
    color: #6e8994;
    margin: 0; }
  body h1 {
    font-size: 60px;
    font-family: "adage-script-1", "adage-script-2", sans-serif;
    margin-bottom: 10px; }
  body h2 {
    font-size: 48px;
    font-family: "adage-script-1", "adage-script-2", sans-serif;
    margin-bottom: 10px; }
  body h3 {
    font-size: 36px;
    font-family: "league-gothic-1", "league-gothic-2", sans-serif; }
  body h4 {
    font-size: 24px;
    font-family: "league-gothic-1", "league-gothic-2", sans-serif; }
  body h5 {
    font-size: 14px;
    font-weight: bold; }
  body h6 {
    font-size: 12px;
    font-weight: bold; }
  body blockquote {
    font-size: 12px !important; }
  body form.standard-form textarea,
  body form.standard-form input[type=text],
  body form.standard-form select,
  body form.standard-form input[type=password] {
    border: 1px inset #ccc;
    padding: 3px 4px 0px;
    font: inherit;
    font-size: 12px;
    color: #888; }
  body form.standard-form select {
    padding: 3px; }
  body form.standard-form input[type=password] {
    margin-bottom: 5px; }

#header {
  height: 150px;
  background: #fff !important;
  overflow: hidden;
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  #header h1#logo {
    position: relative;
    display: block;
    background: transparent url(images/logo/header-small.png) left top no-repeat;
    text-indent: -9999px !important;
    height: 88px;
    width: 150px;
    margin: 0;
    left: 15px;
    top: 25px;
    position: absolute; }
    #header h1#logo a {
      position: absolute;
      height: 88px;
      width: 450px;
      left: 5px;
      top: 0;
      z-index: 3; }
  #header #tagline {
    font-weight: normal;
    position: relative;
    left: 140px;
    top: 50px;
    color: #bdd3d0;
    font-size: 16px;
    font-family: "raleway-1", "raleway-2", sans-serif; }
  #header #nav {
    background: #fbfbb3;
    position: absolute;
    width: 100%;
    overflow: hidden;
    right: 0;
    top: 130px;
    max-width: 100%;
    height: 45px;
    margin: 0;
    padding: 0; }
    #header #nav ul {
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      top: 0;
      list-style: none; }
      #header #nav ul li {
        float: left;
        margin: 0; }
        #header #nav ul li a {
          display: block;
          background: transparent;
          color: #585858;
          font-family: "league-gothic-1", "league-gothic-2", sans-serif;
          font-size: 24px;
          font-weight: bold;
          font-weight: normal;
          padding: 3px 25px 1px;
          text-transform: lowercase; }
          #header #nav ul li a:hover {
            background: #fafa5c; }
          #header #nav ul li a:focus {
            outline: none; }
        #header #nav ul li.selected a {
          background: #fafa5c; }
  #header #user-account {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    padding: 10px; }
    #header #user-account label {
      float: left;
      margin: 0 5px 0 0;
      position: relative;
      top: 2px;
      color: #bdd3d0;
      font-weight: normal;
      font-family: "league-gothic-1", "league-gothic-2", sans-serif;
      text-transform: uppercase;
      font-size: 14px; }
    #header #user-account input {
      float: left; }
    #header #user-account input[type="text"],
    #header #user-account input[type="password"] {
      padding: 2px 4px 0 !important;
      font-weight: normal;
      font-size: 10px;
      width: 10em;
      margin: 0 10px 0 0; }
    #header #user-account input#sidebar-wp-submit {
      position: relative;
      top: -3px; }
    #header #user-account a.name,
    #header #user-account a.avatar {
      display: block;
      float: right;
      margin: 0 0 0 10px; }
    #header #user-account a.name {
      font-family: "league-gothic-1", "league-gothic-2", sans-serif;
      color: #bdd3d0;
      font-size: 24px; }
      #header #user-account a.name:hover {
        color: #fe9387; }
  #header a#logout-link {
    position: absolute;
    color: #cdcdcd;
    right: 10px;
    top: 105px; }
    #header a#logout-link:hover {
      color: #fe9387; }

#container {
  margin: 0;
  border: 0 !important; }
  #container, #container #content, #container #content .padder {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    border-radius: 0 !important;
    margin: 0; }
  #container .padder {
    border: 0 !important; }
  #container ul.item-list li {
    border: 0; }
  #container #sidebar {
    display: none; }

#search-bar {
  z-index: 1; }

#wp-admin-bar {
  display: none; }

#footer {
  margin: 0 0 20px 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #5c737d url(images/bg/gradient.png) left bottom repeat-x;
  color: #e7e7e7;
  border-bottom: #585858;
  text-align: left;
  text-shadow: none; }
  #footer h2 {
    font-size: 28px;
    font-weight: normal;
    color: #fbfbb3;
    margin: 0;
    line-height: 1.1;
    font-family: "league-gothic-1", "league-gothic-2", sans-serif; }
    #footer h2 span.ace {
      text-transform: lowercase; }
    #footer h2 span.est {
      color: #000;
      display: none; }
  #footer p {
    margin: 0;
    padding: 0; }
    #footer p a {
      color: #fe9387;
      text-decoration: none; }
      #footer p a:hover {
        color: #de6b5e; }
    #footer p span {
      color: #fafa5c; }

div.item-list-tabs {
  background: #cdcdcd; }
  div.item-list-tabs a {
    color: #585858;
    font-weight: bold; }
    div.item-list-tabs a:hover {
      color: #000; }
  div.item-list-tabs li.selected a {
    color: #de6b5e !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    border-radius: 0 !important; }

div.post {
  border-bottom: 1px dotted #cdcdcd; }
  div.post h2.posttitle {
    margin-bottom: 15px; }
  div.post div.meta {
    margin: 5px 0 0;
    padding: 5px 0;
    font-family: "Georgia", serif;
    font-style: italic;
    color: #bdd3d0; }
    div.post div.meta p {
      margin: 0; }
    div.post div.meta .comments {
      float: none; }
    div.post div.meta .author {
      font-size: 24px;
      font-family: "league-gothic-1", "league-gothic-2", sans-serif;
      font-style: normal;
      margin: 3px 0 0 0;
      line-height: 1; }
    div.post div.meta .categorization {
      line-height: 1.3;
      margin-top: 0.2em; }
      div.post div.meta .categorization span.separator {
        color: #fafa5c;
        padding: 0 3px; }
    div.post div.meta .tags {
      float: none; }

div#comments h3 {
  font-size: 36px !important; }
div#comments h4 {
  font-size: 24px !important; }
div#comments ol.commentlist li {
  border-bottom: 1px dotted #cdcdcd;
  padding-bottom: 10px; }
div#comments div.comment-content {
  margin-left: 60px; }
  div#comments div.comment-content div.comment-text {
    float: left;
    margin-left: 10px;
    width: 680px; }
  div#comments div.comment-content div.comment-meta {
    width: 150px;
    float: left;
    font-style: italic;
    border: 0;
    margin-top: 0; }
    div#comments div.comment-content div.comment-meta .comment-author {
      display: block;
      font-family: "league-gothic-1", "league-gothic-2", sans-serif;
      font-size: 24px;
      font-style: normal;
      line-height: 1; }
    div#comments div.comment-content div.comment-meta .comment-date,
    div#comments div.comment-content div.comment-meta .comment-controls a {
      color: #bdd3d0; }
      div#comments div.comment-content div.comment-meta .comment-date:hover,
      div#comments div.comment-content div.comment-meta .comment-controls a:hover {
        color: #de6b5e; }

div.comment-content {
  margin-left: 75px; }

div.comment-avatar-box {
  background: transparent;
  padding: 0;
  margin: 0;
  width: 50px; }
  div.comment-avatar-box img.avatar {
    padding: 0;
    margin: 0;
    border: 0; }

.activity-list .activity-header a:first-child,
.activity-list .activity-header span.highlight {
  background: #EBF7FF;
  background: transparent;
  color: #fe9387;
  padding: 0;
  text-decoration: none;
  border: 0;
  margin-right: 3px;
  font-family: "league-gothic-1", "league-gothic-2", sans-serif;
  font-size: 24px; }
.activity-list .activity-header a:first-child:hover {
  color: #de6b5e !important;
  background: transparent !important; }
.activity-list .activity-content a:first-child:focus {
  outline: none; }
.activity-list .activity-content span.time-since {
  color: #bbb; }

body.activity div#item-header h3 {
  line-height: 1; }
body.activity div#item-header div#item-meta {
  font-size: 12px !important;
  margin: 10px 0; }
  body.activity div#item-header div#item-meta div#latest-update a {
    color: #6e8994;
    font-family: "raleway-1", "raleway-2", sans-serif;
    font-size: 24px; }
    body.activity div#item-header div#item-meta div#latest-update a:hover {
      color: #de6b5e; }
body.activity div#item-header div.member-activity-status {
  border-top: 1px dotted #cdcdcd;
  border-bottom: 1px dotted #cdcdcd; }

span.activity, div#message p {
  display: inline-block;
  font-size: 12px !important;
  font-weight: normal;
  background: transparent;
  border-bottom: 1px solid #FFE8C4;
  border-right: 1px solid #FFE8C4;
  border: 0;
  color: #bdd3d0;
  padding: 0;
  margin-top: 6px;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

img.avatar {
  border: 0;
  float: left;
  margin: 0 10px 0 0;
  -webkit-border-radius: 4 !important;
  -moz-border-radius: 4 !important;
  -o-border-radius: 4 !important;
  -ms-border-radius: 4 !important;
  -khtml-border-radius: 4 !important;
  border-radius: 4 !important; }

body.home-page div#content div.padder {
  width: 560px;
  float: left;
  margin: 0; }
body.home-page div#content div.home-sidebar {
  width: 300px;
  float: left;
  margin: 20px 0 0 25px; }
  body.home-page div#content div.home-sidebar div.sidebar-box h2 {
    margin: 20px 0 5px 0;
    line-height: 1; }
  body.home-page div#content div.home-sidebar div.sidebar-box.search {
    padding: 10px;
    background: transparent url(images/bg/gray-diagonal.png) left top repeat;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -khtml-border-radius: 6px !important;
    border-radius: 6px !important;
    border-bottom: 1px solid #b3b3b3;
    border-right: 1px solid silver; }
  body.home-page div#content div.home-sidebar div.sidebar-box.twitter #twitter_update_list li {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px dotted #cdcdcd; }
  body.home-page div#content div.home-sidebar div.sidebar-box.twitter #twitter_update_list span.twitter-content.first {
    font-family: "raleway-1", "raleway-2", sans-serif;
    font-size: 24px;
    line-height: 1.2; }
  body.home-page div#content div.home-sidebar div.sidebar-box.twitter #twitter_update_list a.twitter-status {
    color: #6e8994;
    padding-left: 5px; }
    body.home-page div#content div.home-sidebar div.sidebar-box.twitter #twitter_update_list a.twitter-status:hover {
      color: #de6b5e; }
  body.home-page div#content div.home-sidebar div.sidebar-box.twitter #follow-us {
    color: #6e8994;
    font-family: "Georgia", serif;
    font-style: italic;
    border-bottom: 1px dotted #cdcdcd;
    padding-bottom: 3px; }
body.home-page div#content div.post h2 {
  font-family: "rosewood-std-1", "rosewood-std-2", sans-serif; }
  body.home-page div#content div.post h2 a {
    color: #333333; }

div#content.blog div.padder {
  width: 560px;
  float: left;
  margin: 0; }
div#content.blog div.blog-sidebar {
  width: 280px;
  float: left;
  margin: 20px 0 0 25px;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -khtml-border-radius: 5px !important;
  border-radius: 5px !important;
  border-bottom: 1px solid #b3b3b3;
  border-right: 1px solid silver;
  background: transparent url(images/bg/gray-diagonal.png) left top repeat;
  padding: 10px; }
  div#content.blog div.blog-sidebar h4 {
    color: #6e8994;
    font-size: 16px;
    font-family: "raleway-1", "raleway-2", sans-serif; }

div.linkwithin_div .linkwithin_text,
div.linkwithin_div #linkwithin_logo_0 {
  display: none !important; }
div.linkwithin_div ul {
  margin: 0 !important;
  padding: 0 !important; }
  div.linkwithin_div ul li {
    list-style: none !important;
    margin: 5px 0 !important;
    background: #fff !important;
    padding: 8px !important;
    border-bottom: 1px solid #b3b3b3;
    border-right: 1px solid silver;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -khtml-border-radius: 3px !important;
    border-radius: 3px !important; }
