// Definitions

$white: #fff;
$charcoal-gray: #333;
$dark-gray: #585858;
$mid-gray: #cdcdcd;
$light-gray: #e7e7e7;
$dark-teal: #6e8994;
$light-teal: #bdd3d0;
$very-light-teal: #e9f1f0;
$pale-yellow: #fbfbb3;
$bright-yellow: #fafa5c;
$melon: #fe9387;
$dark-melon: #de6b5e;
$blue: #3385ce;
$light-blue: #1993ff;

$font-size-small: 10px;
$font-size-default: 12px;
$font-size-h1: 60px;
$font-size-h2: 48px;
$font-size-h3: 36px;
$font-size-h4: 24px;
$font-size-h5: 14px;
$font-size-h6: 12px;

$serif: "Georgia", serif;
$sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$adage: "adage-script-1", "adage-script-2", sans-serif;
$league-gothic: "league-gothic-1", "league-gothic-2", sans-serif;
$raleway: "raleway-1", "raleway-2", sans-serif;
$rosewood: "rosewood-std-1","rosewood-std-2",sans-serif;

$border-default: 1px dotted $mid-gray;
$gray-diagonal: transparent url(images/bg/gray-diagonal.png) left top repeat;

// Mixins

@mixin padded-width($width, $padding-left: 0, $padding-right: 0) {
	width: $width - $padding-left - $padding-right;
	padding-left: $padding-left;
	padding-right: $padding-right;
}

@mixin padded-height($height, $padding-top: 0, $padding-bottom: 0) {
	height: $height - $padding-top - $padding-bottom;
	padding-top: $padding-top;
	padding-bottom: $padding-bottom;
}

@mixin border-radius($radius, $important) {
	@if $important {
		-webkit-border-radius: $radius !important;
		-moz-border-radius: $radius !important;
		-o-border-radius: $radius !important;
		-ms-border-radius: $radius !important;
		-khtml-border-radius: $radius !important;
		border-radius: $radius !important;
	} @else {
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		-o-border-radius: $radius;
		-ms-border-radius: $radius;
		-khtml-border-radius: $radius;
		border-radius: $radius;

	}
}

@mixin box-shadow($h, $v, $blur, $color, $inset: false) {
	@if $inset {	
		-moz-box-shadow: inset $h $v $blur $color;
		-webkit-box-shadow: inset $h $v $blur $color;
		box-shadow: inset $h $v $blur $color;
	} @else {
		-moz-box-shadow: $h $v $blur $color;
		-webkit-box-shadow: $h $v $blur $color;
		box-shadow: $h $v $blur $color;
	}
}

@mixin text-shadow($h, $v, $blur, $color) {
  -moz-text-shadow: $h $v $blur $color;
  -webkit-text-shadow: $h $v $blur $color;
  text-shadow: $h $v $blur $color;
}

@mixin text-replace($image, $w: 100%, $h: 50px) {
	position: relative;
	display: block;
	background: transparent url(images/#{$image}) left top no-repeat;
	text-indent: -9999px !important;
	height: $h;
	width: $w;
	
}

@mixin sidebar-border($color: $mid-gray) {
	border-bottom: 1px solid darken($color, 10);
	border-right: 1px solid darken($color, 5);
}

@mixin callout-box-style() {
	padding: 10px;
	margin: 0 0 10px 0;
	background: $gray-diagonal;
	@include border-radius(6px);
	@include sidebar-border();
}


// Rules 

div {
	position: relative;
}

.clear {
	background: transparent !important;
	border: 0 !important;
	display: block !important;
	float: both !important;
	height: 1px !important;
	margin: 0 !important;
	padding: 0 !important;
	position: relative !important;
}

body {
	font-family: $sans-serif ;
	font-size: $font-size-default;
	color: $dark-gray;
	background: transparent url(images/bg/body.png) left top repeat;
	line-height: 1.8;

	div#body-wrap {
		width: 940px;
		margin: 0 auto;
	}

	a {
		color: $melon;
		text-decoration: none;
		
		&:hover {
			color: $dark-melon;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		color: $dark-teal;
		margin: 0;
	}

	h1 {
		font-size: $font-size-h1;
		font-family: $adage;
		margin-bottom: 10px;
	}

	h2 {
		font-size: $font-size-h2;
		font-family: $adage;
		margin-bottom: 10px;
	}

	h3 {
		font-size: $font-size-h3;
		font-family: $league-gothic;
	}

	h4 {
		font-size: $font-size-h4;
		font-family: $league-gothic;
	}

	h5 {
		font-size: $font-size-h5;
		font-weight: bold;
	}

	h6 {
		font-size: $font-size-h6;
		font-weight: bold;
	}

	blockquote {
		font-size: $font-size-default !important;
	}


	form.standard-form { 
		textarea, 
		input[type=text],
		select, 
		input[type=password] {
			border: 1px inset #ccc;
			//@include border-radius(3px);
			padding: 3px 4px 0px;
			font: inherit;
			font-size: $font-size-default;
			color: #888;
		}

		select {
			padding: 3px;
		}

		input[type=password] {
			margin-bottom: 5px;
		}

	}
}



// Header

#header {
	$header-height: 150px;
	height: $header-height;
	background: #fff !important;
	overflow: hidden;
	margin: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	$logo-width: 150px;
	$logo-height: 88px;

	h1#logo {
		@include text-replace("logo/header-small.png", $logo-width, $logo-height);
		margin: 0;
		left: 15px;
		top: 25px;
		position: absolute;

		a {
			position: absolute;
			height: $logo-height;
			width: 450px;
			left: 5px;
			top: 0;
			z-index: 3;
		}

	}

	#tagline {
		font-weight: normal;
		//font-family: $adage;
		position: relative;
		left: 140px;
		top: 50px;
		color: $light-teal;
		font-size: 16px;
		font-family: $raleway;
	}

	#nav {
		background: $pale-yellow;
		position: absolute;
		width: 100%;
		overflow: hidden;
		right: 0;
		top: $header-height - 20px;;
		max-width: 100%;
		height: 45px;
		margin: 0;
		padding: 0;


		ul {
			margin: 0;
			padding: 0;
			position: absolute;
			left: 0;
			top: 0;
			list-style: none;
		

			li {
				float: left;
				margin: 0;

				a {
					display: block;
					background: transparent;
					color: $dark-gray;
					font-family: $league-gothic;
					font-size: 24px;
					font-weight: bold;
					font-weight: normal;
					padding: 3px 25px 1px;
					text-transform: lowercase;

					&:hover {
						background: $bright-yellow;
					}

					&:focus {
						outline: none;
					}
				}

				

				&.selected a {
					background: $bright-yellow;
				}
			}
		}
	} // nav


	#user-account {
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
		padding: 10px ;

		label {
			float: left;
			margin: 0 5px 0 0 ;
			position: relative;
			top: 2px;
			color: $light-teal;
			font-weight: normal;
			font-family: $league-gothic;
			text-transform: uppercase;
			font-size: $font-size-h5;
		}

		input {
			float: left;
		}

		input[type="text"],
		input[type="password"] {
			padding: 2px 4px 0 !important;
			font-weight: normal;
			font-size: $font-size-small;
			width: 10em;
			margin: 0 10px 0 0 ;;
		}

		input#sidebar-wp-submit {
			position: relative;
			top: -3px;
		}

		a.name,
		a.avatar {
			display: block;
			float: right;
			margin: 0 0 0 10px;

		}

		a.name {
			font-family: $league-gothic;
			color: $light-teal;
			font-size: $font-size-h4;

			&:hover {
				color: $melon;
			}
		}
	}

	a#logout-link {
		position: absolute;
		color: $mid-gray;
		right: 10px;
		top: 105px;

		&:hover {
			color: $melon;
		}
	}


} // header 

#container {
	margin: 0;
	border: 0 !important;

	&, #content, #content .padder {
		@include border-radius(0);
		margin: 0;
	}

	.padder {
		border: 0 !important;
	}
	

	ul.item-list {
		li {
			border: 0;
		}
	}

	#sidebar {
		display: none; // fixme // remove from templates
	} // sidebar

} // container 

#search-bar {
	z-index: 1;
}


#wp-admin-bar {
	display: none; // fixme // commented out for dev purposed
}


// Footer

$footer-radius: 8px;

#footer {
	margin: 0 0 20px 0;
	border-bottom-left-radius: $footer-radius;
	border-bottom-right-radius: $footer-radius;
	background: darken($dark-teal, 8) url(images/bg/gradient.png) left bottom repeat-x;
	color: $light-gray;
	border-bottom: $dark-gray;
	text-align: left;
	text-shadow: none;

	h2 {
		font-size: 28px;
		font-weight: normal;
		color: $pale-yellow;
		margin: 0;
		line-height: 1.1;
		font-family: $league-gothic;
		
		span.ace {
			text-transform: lowercase;
		}

		span.est {
			color: #000;
			display: none;

		}
	}

	span.separator {
		padding: 0 3px;
	}

	p {
		margin: 0;
		padding: 0;

		a {
			color: $melon;
			text-decoration: none;
			
			&:hover {
				color: $dark-melon;
			}
		}
	
		span {
			color: $bright-yellow;
		}
	}
}

div.item-list-tabs {
	background: $mid-gray;

	a {
		color: $dark-gray;
		font-weight: bold;

		&:hover {
			color: #000;
		}
	}

	li.selected {

		a {
			color: $dark-melon !important;
			@include border-radius(0, true);
		}

	}
}

// Post

div.post {
	border-bottom: $border-default;

	h2.posttitle {
		margin-bottom: 15px;
	}

	div.meta {
		margin: 5px 0 0;
		padding: 5px 0;
		font-family: $serif;
		font-style: italic;
		color: $light-teal;

		p {
			margin: 0;
		}


		.comments {
			float: none;
		}

		.author {
			font-size: $font-size-h4;
			font-family: $league-gothic;
			font-style: normal;
			margin: 3px 0 0 0;
			line-height: 1;
		}

		.categorization {
			line-height: 1.3;
			margin-top: 0.2em;

			span.separator {
				color: $bright-yellow;
				padding: 0 3px;
			}
		}

		.tags {
			float: none
		}
	}

}

div#comments {
	h3 {
		font-size: $font-size-h3 !important;
	}

	h4 {
		font-size: $font-size-h4 !important;
	}

	ol.commentlist {
		li {
			border-bottom: $border-default;
			padding-bottom: 10px;
			

		}
	}

	div.comment-content {
		margin-left: 60px;

		div.comment-text {
			float: left;
			margin-left: 10px;
			width: 680px;
		}

		div.comment-meta {
			width: 150px;
			float: left;
			font-style: italic;
			border: 0;
			margin-top: 0;

			.comment-author {
				display: block;
				font-family: $league-gothic;
				font-size: $font-size-h4;
				font-style: normal;
				line-height: 1;
			}

			.comment-date, 
			.comment-controls a {
				color: $light-teal;

				&:hover { color: $dark-melon; }
			}
			

		}

	}

}

div#respond {
}

div.comment-content {
	margin-left: 75px;
}

div.comment-avatar-box {
	background: transparent;
	padding: 0;
	margin: 0;
	width: 50px;

	img.avatar {
		padding: 0;
		margin: 0;
		border: 0
	}
}


// Activity

.activity-list { 
	.activity-header { 
		a:first-child, 
		span.highlight {
			background: #EBF7FF;
			background: transparent;
			//border-bottom: 1px solid #a1dcfa;
			//border-right: 1px solid #a1dcfa;
			//color: #059AE7;
			color: $melon;
			padding: 0;
			text-decoration: none;
			//-moz-border-radius: 4px;
			//-webkit-border-radius: 4px;
			//border-radius: 4px;
			border: 0;
			margin-right: 3px;
			font-family: $league-gothic;
			font-size: $font-size-h4;
		}

		a:first-child:hover {
			color: $dark-melon !important;
			background: transparent !important;
		}
	}

	.activity-content {
		a:first-child:focus { outline: none; }

		span.time-since {
			color: #bbb;
		}
	}
}

body.activity {
	div#item-header {
		
		h3 {
			line-height: 1;
		}

		div#item-meta {
			font-size: $font-size-default !important;
			margin: 10px 0;

			div#latest-update a {
				color: $dark-teal;
				font-family: $raleway;
				font-size: $font-size-h4;

				&:hover { color: $dark-melon; }
			}
		}

		div.member-activity-status {
			border-top: $border-default;
			border-bottom: $border-default;

		}
	}
}

span.activity, div#message p {
	display: inline-block;
	font-size: $font-size-default !important;
	font-weight: normal;
	//background: #FFF9DB;
	background: transparent;
	border-bottom: 1px solid #FFE8C4;
	border-right: 1px solid #FFE8C4;
	border: 0;
	color: $light-teal;
	padding: 0;
	margin-top: 6px;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

img.avatar {
	border: 0;
	float: left;
	margin: 0 10px 0 0;
	@include border-radius(4);
}

// Home Page

body.home-page {

	div#content {
		div.padder {
			width: 560px;
			float: left;
			margin: 0;
		}


		div.post {
			h2 {
				font-family: $rosewood;
				
				a {
					color: $charcoal-gray;

				}
			}
		}
	}
}

// Sidebar 

div.sidebar {
	width: 300px ;
	float: left;
	margin: 20px 0 0 25px;

	div.sidebar-box {
		h2 {
			margin: 20px 0 5px 0;
			line-height: 1;
		}

		&.search {
			@include callout-box-style;

		}

		&.also-like {
			@include callout-box-style;
	
			h4 {
				color: $dark-teal;
				font-size: 16px;
				font-family: $raleway;
			}
		}

		&.twitter {

			#twitter_update_list {
				li {
					margin: 0 0 5px 0;
					padding: 0 0 5px 0;
					border-bottom: $border-default;
				}

				span.twitter-content.first {
					font-family: $raleway;
					font-size: $font-size-h4;
					line-height: 1.2;

			}

				a.twitter-status {
					color: $dark-teal;
					padding-left: 5px;

					&:hover { color: $dark-melon; }
				}
			}

			#follow-us {
				color: $dark-teal;
				font-family: $serif;
				font-style: italic;
				border-bottom: $border-default;
				padding-bottom: 3px;
			}
		}
	}
}

// Blog 

div#content.blog {
	div.padder {
		width: 560px;
		float: left;
		margin: 0;
	}

}

div.linkwithin_div {

	&:after { // clearfix
		 content: " "; 
		 display: block; 
		 height: 0; 
		 clear: both; 
		 visibility: hidden;
	 }



	.linkwithin_text,
	#linkwithin_logolink_0,
	#linkwithin_logo_0 {
		&, & * {
			display: none !important;
		}
	}

	.linkwithin_posts {
		a {
			display: block;
			clear: both;
			border: 0 !important;

			& > div {
				width: 100% !important;
				margin: 0 !important;
				margin-bottom: -60px !important;
				padding: 0 !important;
			}
			

			.linkwithin_img_0 {
				display: block;
				float: left;
			}

			.linkwithin_title {
				float: left;
				display: block;
				width: 150px;;
				position: relative;
				padding-left: 10px !important;
			}
		}
	}

/*
	
	ul {
		margin: 0 !important;
		padding: 0 !important;

		li {
			list-style: none !important;
			margin: 5px 0 !important;
			background: #fff !important;
			padding: 8px !important;
			@include sidebar-border();
			@include border-radius(3px, important);
		}
	}
*/
}
